@charset "utf-8";

.navbar .servico_cliente button,
.navbar .tarja .contato li a,
.navbar .tarja .redes li a,
.navbar .tarja span {
    font-size: 11px;
    text-transform: uppercase
}
.scrollOn .navbar .navbar-brand {
    padding: 17px 0
}

.scrollOn .navbar {
    height: 70px;
    position: fixed
}

.scrollOn .navbar .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px
}

.scrollOn .navbar .tarja {
    height: 68px
}

.navbar .container {
    position: absolute;
    top: 86px;
    left: 0;
    z-index: 99999999999;
    background: #FFF;
    height: 89px
}

.navbar .tarja {
    display: block;
    background: url(../../images/bkg.png) center;
    width: 100%;
    position: fixed;
    top: -10px;
    left: 0;
    height: 94px;
    max-width: 100%;
    padding: 38px 52px
}

.navbar .tarja .contato li,
.navbar .tarja .redes,
.navbar .tarja .text_center {
    display: inline-block;
    position: relative
}

.navbar .tarja .text_center {
    width: 244px;
    left: 20%
}
.navbar .tarja .contato {
    position: relative;
    z-index: 9999999999;
    float: left
}

.navbar .tarja .contato li {
    margin-right: 20px
}

.navbar .tarja .contato li .value {
    color: #777;
    font-weight: bold;
}

.navbar .tarja .contato li a span {
    margin-left: 5px;
    font-weight:600;
}

.navbar .tarje .contato .ddd {
    font-weight: 600;
}

.navbar .servico_cliente,
.navbar .tarja .redes li a,
.navbar .tarja span {
    font-weight: 300;
}

.navbar .servicos{
    position: relative;
    display: block;
    float: right;
    margin: 0 15px 0 0;
    height: 23px;
}

.navbar .servicos a{
    color: #777;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 100%;
    padding: 0 0 0 28px;
}

.navbar .servicos a:before{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    content: "";
    background: url('../../images/sprites.png') -430px -180px;
}

.navbar .servicos a:hover{
    color: #06A7C7;
}
.navbar .servicos a:hover:before{
    background: url('../../images/sprites_hover.png') -430px -180px;
}

.navbar .tarja .redes {
    right: 0;
    z-index: 9999999999;
    text-align: right;
    width: auto;
    float: right;
    max-width: 100%
}
.navbar .tarja .redes li{
    position: relative;
    display: inline-block;
}
.navbar .tarja .redes li a {
    color: #777;
    display: inline-block;
    vertical-align: middle;
}

.navbar .tarja span {
    display: inline-block;
    z-index: 9999999999;
    color: #555;
    
}

/*.navbar .tarja span img {
    margin-right: 10px;
    vertical-align: top
}*/

.navbar .servico_cliente {
    color: #777;
    top: 26px;
    z-index: 9999999999;
    float: right;
    right: 137px;
    position: fixed
}

.scrollOn .navbar .servico_cliente {
    opacity: 0;
}

.navbar .servico_cliente button {
    background-color: transparent;
}

.navbar .servico_cliente .btn-small {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-top: 4px;
    margin-left: 3px;
    height: 17px;
    padding: 8px;
    line-height: 0
}

.busca-top {
    display: none;
    width: calc(95% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999999999;
    height: 100%;
    background: #FFF;
    padding-left: 5%;
}

.on.busca-top {
    display: block;
}

.navbar .servico_cliente .btn-small .caret {
    margin-right: -2px;
}

.navbar {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .3);
    top: 0;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 175px;
    position: absolute;
    z-index: 999999999999;
    width: 100%;
}

.navbar .navbar-brand {
    position: relative;
    top: -1%;
    z-index: 9999;
    margin: 0!important;
    padding: 27px 0;
    height: auto;
    font-size: 0;
}

.navbar .nav_mobile {
    display: none
}

.navbar .menu {
    margin: 0!important;
    padding: 0;
    width: 100%;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
}

.navbar .menu ul li {
    display: inline-block;
    padding: 35px 25px;
}

.scrollOn .navbar .menu ul li {
    padding: 25px;
}

.navbar .menu ul a {
    color: #002460;
    font-size: 18px;
    padding: 0;
    text-transform: uppercase;
}

.navbar .menu ul a:hover {
    color: #06A5C5;
}

.navbar #menu-menu {
    float: inherit;
    display: inline-block;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.pesquisa {
    cursor: pointer;
    position: absolute;
    z-index: 9999999999999;
    right: 5%;
    font-size: 28px;
    top: 50%;
    transform: translateY(-50%);
}
.on.glyphicon-search{
    height: 10px;
    width: 30px;
    display: block;
    background: url(../images/icon-close.png)no-repeat;
}


.form_pesquisa_mobile {
    
    position: relative;
    width: 100%;
    border-radius: 50px;
    display: none;
    height: 65%;
    margin-top: 15px;


    
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.scrollOn .form_pesquisa_mobile {
    margin-top: 12px;
}


.form_pesquisa_mobile input {
    border: 1px solid #BBB!important;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 0 30px 0 15px;
}
