@charset "utf-8";

.nossos-planos {
    width: 100%;
    background-color: #fff;
    margin-bottom: -20px;
}

.nossos-planos h2:before {
    content: url(../../images/bar-title.png);
    position: absolute;
    top: 55px;
    right: -2px;
    width: 100%;
    line-height: 100%;
}

.nossos-planos h2 {
    color: #000;
    margin-bottom: 22px;
}

.nossos-planos h2 span {
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 5px;
    display: block;
}

.nossos-planos .bloco-planos {
    display: inline-block;
    width: 100%;
    padding: 70px 0;
}

.nossos-planos .bloco-planos li {
    background-color: #fff;
    display: inline-block;
    width: calc(33.33% - 23px);
    max-width: 100%;
    margin: 0 10px;
}

.nossos-planos .bloco-planos li div.hvr-grow {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
}

.nossos-planos .bloco-planos li div.hvr-grow:hover {
    box-shadow: 1px 1px 22px 6px #d0d0d0;
}

.nossos-planos .bloco-planos li div.hvr-grow .resumo {
    
    border: 0;
}

.nossos-planos .bloco-planos li div.hvr-grow .img {
    position: relative;
    display: inline-block;
    margin: 25px 0;
    width: 57px;
    height: 57px;
    background: #06A7C7;
    border: none;
    border-radius: 57px;
    margin: 25px 0;
    padding: 0;
}

.nossos-planos .bloco-planos li div.hvr-grow .img img {
    position: absolute;
    display: block;
    width: 41px;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.nossos-planos .bloco-planos li div h5:before {
    content: url(../../images/bar-left.png);
    position: absolute;
    top: -10px;
    right: 0;
    width: auto;
    line-height: 100%;
}

.nossos-planos .bloco-planos li div h5 {
    position: relative;
    color: #003996;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.nossos-planos .bloco-planos li div h5:after {
    content: url(../../images/bar-left.png);
    position: absolute;
    top: -10px;
    left: 0;
    width: auto;
    line-height: 100%;
}

.nossos-planos .bloco-planos li div p {
    margin: 27px 0 0;
    color: #535353;
    text-align: left;
    font-size: 14px;
}

.nossos-planos .bloco-planos li div span {
    color: #06A6C6;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

