@charset "utf-8";

.area_video_banner {
    max-height: 100%;
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 94px)
}

.area_video_banner .content {
    position: absolute;
    z-index: 999999;
    display: block;
    width: 100%;
    height: auto;
    top: 40%;
    left: 0;
    transform: translateY(-50%)
}

.area_video_banner .content h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin: 0 auto 20px;
    max-width: 529px;
    line-height: 50px
}

.area_video_banner .content p {
    letter-spacing: 3px;
    max-width: 1200px;
    margin: 0 auto;
}

.area_video_banner .content p span,
.area_video_banner .content p strong {
    
}

.area_video_banner .content p strong {
    text-transform: uppercase
}

.area_video_banner video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity
}

.demo,
.demo::after {
    left: 0;
    width: 100%;
    position: absolute
}

.area_video_banner .content .banner_subtitle {
    opacity: .5;
    display: inline-block;
    margin: 50px 0;
    background-color: #003996;
    padding: 20px 25px;
    border-radius: 4px
}

.area_video_banner .content p {
    text-transform: uppercase;
    opacity: 1;
    font-size: 23px;
    display: inline-block;
    color: #06a7c7
}

.demo div,
nks p {
    font: normal 400 20px/1 'Josefin Sans', sans-serif
}

.demo {
    height: 100%;
    padding: 0;
    z-index: 99999;
    background-color: rgba(0, 13, 51, .65)
}

.demo::after {
    bottom: 0;
    content: '';
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%)
}

nks p {
    color: #333
}

.demo div {
    position: absolute;
    bottom: 70px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    transition: opacity .3s
}

.demo div:hover {
    opacity: .5
}

#demo-scroll div {
    padding-top: 80px
}

#demo-scroll div span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box
}

#demo-scroll div span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

#demo-scroll div span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

#demo-scroll div span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

@-webkit-keyframes sdb07 {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes sdb07 {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
