@media screen and (max-width:1203px) {
    
}

@media screen and (max-width:1125px) {
    
   
}

@media screen and (max-width:1086px) {
    .navbar .tarja .text_center {
        left: 14%
    }
   
    .scrollOn .navbar .menu ul li {
        padding: 25px 19px
    }
}

@media screen and (max-width:1029px) {
    .navbar .tarja .text_center {
        left: 10%
    }

  
   
    .nossos-planos .bloco-planos li div h5 {
        font-size: 13px
    }
}

@media screen and (max-width:1108px) {
    .ultimasblog .ultimasblog__blocoplanos li div {
        padding: 30px
    }
}

@media screen and (max-width:1024px) {
    .newsletter h4 {
        width: 155px
    }
    .newsletter .redes {
        width: 157px
    }
}

@media screen and (max-width:1023px) {
    .simulacao .title {
        margin: 25px 0
    }
    .simulacao .title:after {
        top: 58px
    }
    .ultimasblog .ultimasblog__blocoplanos li div {
        padding: 30px 20px
    }
}

@media screen and (max-width:992px) {
    .navbar .tarja .text_center {
        left: 9%
    }
  
    .scrollOn .navbar .menu ul li {
        padding: 0;
        
    }

/*     .navbar .menu ul li a{
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    } */
}

@media screen and (max-width:991px) { /*TABLET*/
    .col-xs-mobile-separador{
        width: 8.3333%;
        padding: 0;
        position: relative;
        float: left;
    }
    .col-xs-mobile{
        width: 25%;
        padding: 0;
        position: relative;
        display: block;
        float: left;
    }
    .mobile-separador-none{
        display: none!important;
    }
    .mobile-separador-border{
      
    }
    .atendimento .form {
        width: 100%;
        padding-bottom: 0!important
    }
    .atendimento .form .btn-enviar {
        margin: 15px 0 0;
        height: 65px
    }
    .footer .central,
    .footer .end,
    .footer .maps {
        width: 100%;
        max-width: 100%
    }
  
    .vantagens__bottom .vantagens__a .vantagens__blocos li,
    .vantagens__top .vantagens__b .vantagens__blocos li {
        width: 42%
    }
}

@media screen and (max-width:963px) {
    .nossos-planos .bloco-planos .btn__nossoplano {
      
        font-size: 12px
    }
   
    .nossos-planos .bloco-planos li .info {
        margin: 10px 0;
        display: block;
        text-align: center
    }
    .nossos-planos .bloco-planos li div h5:after,
    .nossos-planos .bloco-planos li div h5:before{
        display: none
    }
    .nossos-planos .bloco-planos li div {
       /*  padding: 18px 0;
        text-align: left */
    }
     .nossos-planos .bloco-planos li div img {
        /* float: inherit!important;
        margin: 2px 5px;
        display: inline-block */
    } 
    .nossos-planos .bloco-planos li div h5 {
        width: 100%!important;
        display: inline-block
    }
}

@media screen and (max-width:940px) {
    #owl-consorcio .item {
        max-width: 284px
    }
}

@media screen and (max-width:936px) {
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        width: 180px
    }
    .metricas .title-clientes-ativos {
        margin-left: 0!important;
        font-size: 14px
    }
}

@media screen and (max-width:903px) {
    .metricas .metricas__clientes {
        vertical-align: top;
        width: 31%
    }
}

@media screen and (max-width:902px) {
   
    .nossos-planos .bloco-planos li div h5 {
        width: 100px
    }
}

@media screen and (max-width:923px) {

    .navbar .busca,
    .navbar .menu {
        position: absolute;
        max-width: 100%
    }
    .navbar .menu,
    .newsletter .mensage {
        text-align: center
    }
    .consorcio p,
    .footer .end,
    .navbar .busca,
    .navbar .menu {
        max-width: 100%
    }
    body {
        padding-top: 0px;
    }


    .bloco-banner .container{
        padding: 22px 5% 0 5%; 
    }

    .navbar .tarja {
        height: 68px
    }
    .navbar .servico_cliente {
        top: 18px
    }
    .navbar .navbar-brand {
        padding: 12px
    }
    .navbar {
        height: 140px
    }
    .navbar .nav_mobile {
        display: block
    }
    .navbar .nav_mobile .navbar-nav {
        float: inherit
    }

    .btn-close {
        left: 152px;
        top: 14px
    }
    .scrollOn .navbar .form_pesquisa_mobile {
        top: 0px
    }
    .navbar .busca {
        right: 0;
        top: 171px;
        background-color: #fff
    }
    .navbar .pesquisa {
        top: 50%;
        transform: translateY(-50%);
        right: 120px;
        font-size: 30px
    }
   
   
    .navbar .container {
       
    }
    .navbar .tarja span {
        margin-left: 0
    }

    .form_pesquisa_mobile {
        margin-top: 11px;
    }

    .navbar .form_pesquisa_mobile input {
        color: #000;
        background-color: #fff;
        padding-right: 30px
    }
    .navbar .menu {
        top: 88px;
        color: #999;
        margin: 0;
        padding: 0;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .05);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s
    }
    .scrollOn .navbar .menu {
        top: 88px
    }
    .navbar .menu li {
        width: 100%;
        background-color: #fff;
        padding: 20px 0;
        line-height: 10px;
        border-top: 1px solid #aaa
    }
    #toggle,
    #toggle.on span {
        background-color: transparent
    }
    .navbar .menu li a {
        font-size: 18px;
        border: transparent;
        vertical-align: middle
    }
    #toggle {

        position: absolute;
        top: 15px;
        right: 5%;
        display: block!important;
        width: 53px;
        height: 17px;
        margin: 6px 0;
        padding: 24px 13px;
        border-radius: 7px;
        z-index: 999;
    }

    #toggle.on {
        background-color: #003793
    }
    #toggle.on span:before {
        transform: rotate(45deg) translate(9px, 9px);
        background-color: #fff
    }
    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
        background-color: #fff
    }
    #toggle.on+.menu {
        opacity: 1;
        visibility: visible;
        background: #fff;
        width: 100%;
        height: auto;
        z-index: 1;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3)
    }
    .area_video_banner .content {
        top: 45%
    }
    .area_video_banner .content .banner_subtitle {
        display: none
    }
    .demo a {
        display: none!important
    }
    .ultimasblog .ultimasblog__blocoplanos li {
        width: 100%;
        margin: 10px 0
    }
    .collapse {
        display: block
    }
    .navbar #menu-menu {
        width: 100%;
        height: calc(100vh - 70px);
    }

    .bloco-banner{
       
    }
    .nossos-carros .title-carousel span {
        font-size: 13px
    }
    .atendimento h2:before,
    .consorcio h2:before,
    .nossos-carros .title-carousel h2:after {
        top: 40px
    }
    .atendimento h2,
    .consorcio h2,
    .nossos-carros .title-carousel h2,
    .nossos-planos h2 {
        margin-top: 30px
    }
    .nossos-carros .title-carousel h6 {
        margin: 10px 0
    }
    .list-products .item {
        padding-top: 138px
    }
    .list-products .owl-item:nth-child(even) .item:after,
    .list-products .owl-item:nth-child(odd) .item:after {
        top: 201px
    }
    .list-products .owl-item:nth-child(even) .item .info,
    .list-products .owl-item:nth-child(odd) .item .info {
        padding-bottom: 100px
    }
    .list-products .owl-dots {
        margin-top: -65px
    }
    .list-products .owl-nav {
        display: none
    }
   
    .consorcio h2 {
        font-size: 22px
    }
    .consorcio span {
        font-size: 18px
    }
    .consorcio p {
        margin-top: 10px!important;
        font-size: 14px;
        width: 310px;
        padding: 0 15px
    }
    #owl-consorcio {
        margin: 50px 0 0
    }
    #owl-consorcio .item .about h4 {
        font-size: 14px;
        display: inline-block;
        float: right
    }
    #owl-consorcio .item {
        width: 100%
    }
    #owl-consorcio .owl-item img {
        width: auto;
        display: inline-block
    }
    .atendimento .informacoes {
        margin: 40px auto 0
    }
    .atendimento .form button {
        height: 54px;
        margin-top: 6px;
        padding: 11px
    }
    .atendimento .form {
        margin: 20px 0;
        padding: 22px 0
    }
    .atendimento .informacoes span {
        font-size: 16px;
        vertical-align: text-bottom
    }
    .atendimento .form button i {
        margin-bottom: 4px
    }
    .newsletter {
        background-color: #003793!important;
        margin-top: -1px;
        margin-bottom: 0;
        padding: 25px 0
    }
    .atendimento .form textarea {
        height: 115px
    }
    .newsletter h4 {
        width: 139px
    }
    .newsletter .redes {
        width: 100%;
        text-align: center
    }
    .newsletter span {
        margin-bottom: 10px
    }
    .newsletter .input-radius {
        margin-bottom: 15px
    }
    .footer {
        padding: 0
    }
    .footer .blog h4,
    .footer .central h4,
    .footer .comprar h4,
    .footer .institucional h4,
    .footer .servicos h4 {
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px
    }
    .footer .maps {
        width: 100%
    }
    .footer .end i {
        font-size: 26px
    }
    .footer .layer_gray .a,
    .footer .layer_gray .b {
        padding: 30px 0;
        height: 300px
    }
    .footer .layer_gray .a p,
    .footer .layer_gray .b p {
        margin: 10px 0
    }
    .footer .layer_blue .copyright {
        margin: 0
    }
    .footer .layer_blue img {
        float: initial!important
    }
}

@media screen and (max-width:908px) {
        .busca-top {
        width: calc(100% - 155px);
        margin: 0;
        top: 15px;
        left: 0;
        padding-left: 5%;
        height: 58px;
        background: #FFF;
    }

   /*  .scrollOn .busca-top {
        top: 65px
    }
    .scrollOn .btn-close {
        top: 13px
    }
    .btn-close {
        left: 9%
    } */
}

@media screen and (max-width:892px) {
    #owl-consorcio .item .about .icon-pass1,
    #owl-consorcio .item .about .icon-pass2,
    #owl-consorcio .item .about .icon-pass3,
    #owl-consorcio .item .about .icon-proximo,
    .navbar .servico_cliente {
        display: none
    }
    #owl-consorcio .owl-nav .owl-prev,
    .owl-nav .owl-next {
        height: 50px;
        position: relative
    }
    #owl-consorcio .owl-nav .owl-prev {
        left: 10px;
        float: left;
        background: url(../images/prev.png) center no-repeat #fff!important
    }
    #owl-consorcio .owl-nav .owl-next {
        right: 10px;
        float: right;
        background: url(../images/next.png) center no-repeat #fff!important
    }
    #owl-consorcio .owl-nav {
        position: relative;
        width: 100%;
        top: -94px!important
    }
    #owl-consorcio .owl-dots {
        margin-top: 30px!important
    }
    #owl-consorcio .owl-nav .owl-next,
    #owl-consorcio .owl-nav .owl-prev {
        font-size: 0!important;
        height: 110px;
        width: 45px;
        margin: 0!important;
        padding: 0!important
    }
}

@media screen and (max-width:889px) {
    .vantagens__bottom .vantagens__a .vantagens__blocos li div,
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        width: 180px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos {
        margin: 51px 5px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li,
    .vantagens__top .vantagens__b .vantagens__blocos li {
        margin: 9px;
        vertical-align: top
    }
}

@media screen and (max-width:872px) {
    .newsletter .icon-facebook,
    .newsletter .icon-instagram-1,
    .newsletter .icon-youtube-play {
        font-size: 24px
    }
    .newsletter h4 {
        width: 135px
    }
}

@media screen and (max-width:868px) {
    .simulacao .form_simulacao .medium {
        width: 100%!important
    }
}

@media screen and (max-width:845px) {
.navbar .servicos{
    display: none;
}
}

@media screen and (max-width:824px) {
    .list-products .owl-carousel .owl-item:nth-child(even) .item:after,
    .list-products .owl-carousel .owl-item:nth-child(odd) .item:after {
        top: 191px
    }
    .list-products .owl-carousel .item {
        padding-top: 128px
    }
    .list-products {
        padding: 0
    }
    .nossos-carros .title-carousel h2,
    .nossos-planos h2 {
        margin-top: 30px;
        font-size: 22px
    }
    .nossos-carros .title-carousel span,
    .nossos-planos h2 span {
        margin-top: 30px;
        font-size: 13px
    }
    .nossos-carros .title-carousel h6 {
        font-size: 10px
    }
    
   
    .nossos-planos .bloco-planos li div h5 {
        display: block;
        width: 100%;
        margin: 27px 0 6px
    }
    #owl-consorcio .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: block!important
    }
    .vantagens__bottom .vantagens__b:before,
    .vantagens__top .vantagens__a:before {
       /*  display: none */
    }
}

@media screen and (max-width:807px) {
    .container-metricas {
        padding: 0
    }
    .metricas .clientes-ativos:after {
        display: none
    }
    .metricas .metricas__clientes span {
        font-size: 14px
    }
    .metricas .title-clientes-ativos {
        text-align: center;
        margin: 32px auto;
        display: block!important
    }
    .metricas .metricas__clientes {
        margin: 0;
        padding: 0;
        min-height: 176px
    }
    .metricas .clientes-ativos {
        border: 0;
        height: 112px;
        font-size: 14px;
        position: relative;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100px
    }
    .metricas .clientes-ativos:before {
        content: "";
        border-top: 2px solid #fff;
        height: 10px;
        width: 65px;
        display: block;
        position: absolute;
        right: 17px;
        bottom: -7px
    }
}

@media screen and (max-width:783px) {
    .atendimento {
        padding-bottom: 30px
    }
    .navbar .tarja .text_center {
        left: 38%
    }
    .footer .layer_gray .b .logos {
        margin-top: 5px
    }
    .footer .blog a,
    .footer .comprar a,
    .footer .institucional a,
    .footer .servicos a {
        font-weight: 400;
      
    }
    .navbar .tarja .contato,
    .navbar .tarja .redes,
    .navbar .tarja .servico_cliente {
        display: none
    }
    .newsletter .icon-facebook,
    .newsletter .icon-instagram-1,
    .newsletter .icon-youtube-play {
        margin: 0 15px;
        font-size: 23px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li div,
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        display: block;
        margin: 0 auto
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos,
    .vantagens__top .vantagens__b .vantagens__blocos {
        margin: 51px 0;
        text-align: center
    }
}

@media screen and (min-width: 940px) {
    
    .bloco__simulacao--single{
        top: 250px;
        right: 45px;
    }

    .scrollOn .bloco__simulacao--single{
        position: fixed;
        top: 120px;
        right: 45px;
        z-index: 1;
    }


    .leftMain .container-single{
        width: calc(100% - 350px);
        position: relative;
        display: block;
    }
    .nav_mobile .menu li a{
     font-size: 25px  !important;
    }

}


@media screen and (max-width: 939px) {
    .nav_mobile .menu li{
    position: relative;
    display: block;
}

.nav_mobile .menu li a{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    line-height: 120%;
}

}

@media screen and (min-width:768px)  and (max-width:939px) {


    .navbar .menu ul li a{
        font-size: 20px !important;
    }

    .navbar .menu ul li {
        margin: 0;
    }
    

.page-blog.leftMain .container-single{
        width: calc(100% - 350px);
        position: relative;
        display: block;
    }

.linkMore{
    margin: 10px 0;
}


    .bloco__simulacao--single {
        position: absolute;
        display: block;
        top: 210px;
        right: 5%;
        float: none;
        margin-top: inherit;
        margin-right: inherit;
    }


    .grid .item .title{
        font-size: 22px;
        line-height: 120%;
    }


    .list-products .owl-item .item .info .btn__carros,
.nossos-planos .bloco-planos .btn__nossoplano,
.ultimasblog .ultimasblog__blocoplanos .btn__nossoblog {
    padding: 0 15px;
    letter-spacing: 3px;
    margin: 15px 0 0 0;
}


section#home {
    margin-top: 0;
}


    
/*=================================================================================
MARGINS AND PADDINGS - Margens e Espaçamentos - HMargin hPading vMargin vPadding
==================================================================================*/

/*----------------------
 Size 1 
----------------------*/

/*Valores Horizontais*/
.hMargin{
    margin-top: 60px;
    margin-bottom: 60px;
}

.hPadding{
    padding-top: 60px;
    padding-bottom: 60px;
}

/*Valores Verticais*/
.vMargin{
    margin-left: 5%;
    margin-right: 5%;
}

.vPadding{
    padding-left: 5%;
    padding-right: 5%;
}

/*Valores para o topo*/
.topMargin{
    margin-top: 60px;
}

.topPadding{
    padding-top: 60px;
}

/*Valores para o rodapé*/
.bottomMargin{
    margin-bottom: 60px;
}

.bottomPadding{
    padding-bottom: 60px;
}

/*Valores para esqueda*/
.leftMargin{
    margin-left: 5%;
}

.leftPadding{
    padding-left: 5%;
}

/*Valores para direita*/
.rightMargin{
    margin-right: 5%;
}

.rightPadding{
    padding-right: 5%;
}

/*----------------------
 Size 2 
----------------------*/


/*Valores Horizontais*/
.hMargin_2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.hPadding_2{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Valores Verticais*/
.vMargin_2{
    margin-left: 5%;
    margin-right: 5%;
}

.vPadding_2{
    padding-left: 5%;
    padding-right: 5%;
}

/*Valores para o topo*/
.topMargin_2{
    margin-top: 30px;
}

.topPadding_2{
    padding-top: 30px;
}

/*Valores para o rodapé*/
.bottomMargin_2{
    margin-bottom: 30px;
}

.bottomPadding_2{
    padding-bottom: 30px;
}

/*Valores para esqueda*/
.leftMargin_2{
    margin-left: 5%;
}

.leftPadding{
    padding-left: 5%;
}

/*Valores para direita*/
.rightMargin_2{
    margin-right: 5%;
}

.rightPadding_2{
    padding-right: 5%;
}

/*----------------------
 Espaçamentos internos 
----------------------*/

.intraPadding{
    padding: 25px;
}

.intraPadding_2{
    padding: 15px;
}

.intraPadding_3{
    padding: 10px;
}

.intraPadding_4{
    padding: 5px;
}

/*Top*/
.intraPadding-top{
    padding-top: 25px;
}

.intraPadding_2-top{
    padding-top: 15px;
}

.intraPadding_3-top{
    padding-top: 10px;
}

.intraPadding_4-top{
    padding-top: 5px;
}

/*Right*/
.intraPadding-right{
    padding-right: 25px;
}

.intraPadding_2-right{
    padding-right: 15px;
}

.intraPadding_3-right{
    padding-right: 10px;
}

.intraPadding_4-right{
    padding-right: 5px;
}


/*Bottom*/
.intraPadding-bottom{
    padding-bottom: 25px;
}

.intraPadding_2-bottom{
    padding-bottom: 15px;
}

.intraPadding_3-bottom{
    padding-bottom: 10px;
}

.intraPadding_4-bottom{
    padding-bottom: 5px;
}


/*Left*/
.intraPadding-left{
    padding-left: 25px;
}

.intraPadding_2-left{
    padding-left: 15px;
}

.intraPadding_3-left{
    padding-left: 10px;
}

.intraPadding_4-left{
    padding-left: 5px;
}



/*----------------------
 Espaçamentos entre elementos 
----------------------*/

.intraMargin{
    margin: 25px;
}

.intraMargin_2{
    margin: 15px;
}

.intraMargin_3{
    margin: 10px;
}

.intraMargin_4{
    margin: 5px;
}

/*Top*/
.intraMargin-top{
    margin-top: 25px;
}

.intraMargin_2-top{
    margin-top: 15px;
}

.intraMargin_3-top{
    margin-top: 10px;
}

.intraMargin_4-top{
    margin-top: 5px;
}

/*Right*/
.intraMargin-right{
    margin-right: 25px;
}

.intraMargin_2-right{
    margin-right: 15px;
}

.intraMargin_3-right{
    margin-right: 10px;
}

.intraMargin_4-right{
    margin-right: 5px;
}


/*Bottom*/
.intraMargin-bottom{
    margin-bottom: 25px;
}

.intraMargin_2-bottom{
    margin-bottom: 15px;
}

.intraMargin_3-bottom{
    margin-bottom: 10px;
}

.intraMargin_4-bottom{
    margin-bottom: 5px;
}


/*Left*/
.intraMargin-left{
    margin-bottom: 25px;
}

.intraMargin_2-left{
    margin-bottom: 15px;
}

.intraMargin_3-left{
    margin-bottom: 10px;
}

.intraMargin_4-left{
    margin-bottom: 5px;
}
/*----------------------
 END 
----------------------*/

 }   

 @media screen and (min-width: 480px) and (max-width: 767px){
    .nav_mobile .menu li{
    position: relative;
    display: block;
}

.nav_mobile .menu li a{
   font-size: 20px !important;
}

 }

 @media screen and (max-width: 479px){
    .nav_mobile .menu li{
    position: relative;
    display: block;
}

.nav_mobile .menu li a{
   font-size: 18px !important;
}

 }

@media screen and (max-width:767px) {

.nav_mobile .menu li{
    position: relative;
    display: block;
}
.nav_mobile .menu li a{
   
}

.sidebar{
    position: relative;
    float: none;
    border: none;
    background: #FFF;
    width: 100%;
    min-height: auto;
    right: inherit;
    top: inherit;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 45px;

     -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar header .title{
    font-size: 18px;
}


.linkMore{
    margin: 10px 0;
}

.search .filtro .filtro__title{
    display: none;
}

.colls-2.grid.border .item:nth-child(2n){
    margin-left: 0;
}
.grid.min-height .item{
    min-height: auto;
}    


 .list-products .owl-item .item .info .btn__carros,
.nossos-planos .bloco-planos .btn__nossoplano,
.ultimasblog .ultimasblog__blocoplanos .btn__nossoblog {
    padding: 0 15px;
    letter-spacing: 3px;
    max-width: 240px;
    margin: 15px auto 0px auto !important;

}

.internas.page-atendimento.faq .faqList .item .title{
    font-size: 18px;
}


.footer .logo-i9me{
    text-align: center;
}
.link-i9me{
    position: relative;
    display: inline-block;
}


section#home {
    margin-top: 0;
}


/*===================
Novas Customizações Internas
====================*/

.intraColls .coll-side{
    margin-left: 0;
}


.internas .contacts .contact .value{
    position: relative;
    display: inline-block;
    padding: 0 0 0 50px;
    line-height: 40px;
    font-size: 25px;
}

.internas .horario{
    font-size: 13px;
}

.internas.page-atendimento .block.map{
    position: relative;
    height: 300px;
}

.internas.page-atendimento .block.formMail{
    float: none;
}

 form .buttonSend{
    height: 58px;

}


.colls.grid.border .item{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
}

.colls-3.grid.border .item.intraMargin-right{
    width: 100% !important;
    margin: 0 0 25px 0 !important;
}

.internas .formStyle.colls .coll{
    width: calc(50% - 5px);
    margin-right: 0;
    margin-bottom: 10px;
}

.internas .formStyle.colls .coll.margin{
    margin-right: 0;
}

.internas .formStyle.colls .coll.margin:nth-child(2),
.internas .formStyle.colls .coll.margin:nth-child(4){
    margin-right: 10px;
}
.internas .formStyle.colls-4 .coll.margin{
    width: calc(50% - 5px);
}

.page-servicos.internas .helpLogin a{
    font-size: 13px;
}


.internas.page-atendimento.faq .searchFaq{
    width: 100%;
    margin: 0;
}

/*END*/


.bloco__post h2{
    font-size: 24px;
}
.bloco__post h3{
    font-size: 20px;
}


.colls.colls-2 .coll{
    float: none;
    width: 100%;
}



.intraColls .coll-2{
    width: 100%;
    float: none;
}
.intraColls .coll-2:nth-child(odd){
    margin-left: 0;
    margin-bottom: 5px;
}

.lightBox.on{
    display: block;
    min-width: 280px;
}


.bloco__post .colls.colls-2.rightMain .coll{
    margin-right: 0;
    margin-bottom: 20px;
}

.bloco__post .colls.colls-2.rightMain .coll.left{
    float: none;
    width: 100%;
}

.bloco__post .colls.colls-2.rightMain .coll.right{
    float: none;
    width: 100%;
}

   
/*=================================================================================
MARGINS AND PADDINGS - Margens e Espaçamentos - HMargin hPading vMargin vPadding
==================================================================================*/

/*----------------------
 Size 1 
----------------------*/

/*Valores Horizontais*/
.hMargin{
    margin-top: 30px;
    margin-bottom: 30px;
}

.hPadding{
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Valores Verticais*/
.vMargin{
    margin-left: 5%;
    margin-right: 5%;
}

.vPadding{
    padding-left: 5%;
    padding-right: 5%;
}

/*Valores para o topo*/
.topMargin{
    margin-top: 30px;
}

.topPadding{
    padding-top: 30px;
}

/*Valores para o rodapé*/
.bottomMargin{
    margin-bottom: 30px;
}

.bottomPadding{
    padding-bottom: 30px;
}

/*Valores para esqueda*/
.leftMargin{
    margin-left: 5%;
}

.leftPadding{
    padding-left: 5%;
}

/*Valores para direita*/
.rightMargin{
    margin-right: 5%;
}

.rightPadding{
    padding-right: 5%;
}

/*----------------------
 Size 2 
----------------------*/


/*Valores Horizontais*/
.hMargin_2{
    margin-top: 15px;
    margin-bottom: 15px;
}

.hPadding_2{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Valores Verticais*/
.vMargin_2{
    margin-left: 5%;
    margin-right: 5%;
}

.vPadding_2{
    padding-left: 5%;
    padding-right: 5%;
}

/*Valores para o topo*/
.topMargin_2{
    margin-top: 15px;
}

.topPadding_2{
    padding-top: 15px;
}

/*Valores para o rodapé*/
.bottomMargin_2{
    margin-bottom: 15px;
}

.bottomPadding_2{
    padding-bottom: 15px;
}

/*Valores para esqueda*/
.leftMargin_2{
    margin-left: 5%;
}

.leftPadding{
    padding-left: 5%;
}

/*Valores para direita*/
.rightMargin_2{
    margin-right: 5%;
}

.rightPadding_2{
    padding-right: 5%;
}



/*----------------------
 Espaçamentos internos 
----------------------*/

.intraPadding{
    padding: 20px;
}

.intraPadding_2{
    padding: 15px;
}

.intraPadding_3{
    padding: 10px;
}

.intraPadding_4{
    padding: 5px;
}

/*Top*/
.intraPadding-top{
    padding-top: 20px;
}

.intraPadding_2-top{
    padding-top: 15px;
}

.intraPadding_3-top{
    padding-top: 10px;
}

.intraPadding_4-top{
    padding-top: 5px;
}

/*Right*/
.intraPadding-right{
    padding-right: 20px;
}

.intraPadding_2-right{
    padding-right: 15px;
}

.intraPadding_3-right{
    padding-right: 10px;
}

.intraPadding_4-right{
    padding-right: 5px;
}


/*Bottom*/
.intraPadding-bottom{
    padding-bottom: 20px;
}

.intraPadding_2-bottom{
    padding-bottom: 15px;
}

.intraPadding_3-bottom{
    padding-bottom: 10px;
}

.intraPadding_4-bottom{
    padding-bottom: 5px;
}


/*Left*/
.intraPadding-left{
    padding-left: 20px;
}

.intraPadding_2-left{
    padding-left: 15px;
}

.intraPadding_3-left{
    padding-left: 10px;
}

.intraPadding_4-left{
    padding-left: 5px;
}



/*----------------------
 Espaçamentos entre elementos 
----------------------*/

.intraMargin{
    margin: 20px;
}

.intraMargin_2{
    margin: 15px;
}

.intraMargin_3{
    margin: 10px;
}

.intraMargin_4{
    margin: 5px;
}

/*Top*/
.intraMargin-top{
    margin-top: 20px;
}

.intraMargin_2-top{
    margin-top: 15px;
}

.intraMargin_3-top{
    margin-top: 10px;
}

.intraMargin_4-top{
    margin-top: 5px;
}

/*Right*/
.intraMargin-right{
    margin-right: 20px;
}

.intraMargin_2-right{
    margin-right: 15px;
}

.intraMargin_3-right{
    margin-right: 10px;
}

.intraMargin_4-right{
    margin-right: 5px;
}


/*Bottom*/
.intraMargin-bottom{
    margin-bottom: 20px;
}

.intraMargin_2-bottom{
    margin-bottom: 15px;
}

.intraMargin_3-bottom{
    margin-bottom: 10px;
}

.intraMargin_4-bottom{
    margin-bottom: 5px;
}


/*Left*/
.intraMargin-left{
    margin-bottom: 20px;
}

.intraMargin_2-left{
    margin-bottom: 15px;
}

.intraMargin_3-left{
    margin-bottom: 10px;
}

.intraMargin_4-left{
    margin-bottom: 5px;
}

/*----------------------
 END 
----------------------*/


.single-plano .area-info .table{
    width: 100%;
}

.table.style-1 .coll.description{
    background: #EEE;
}

.table.style-1:after{
    display: none;
}


    .leftMain .bloco__title-banner{
        width: 100%;
    }
    .bloco__title-banner .currentTitle.side{
        width: 35%;
    }
    .bloco-banner__veiculo{
        width: 65%;
        margin: 0;
        padding: 0;
    }

    .bloco-banner__texto--veiculo{
        width: 50%;
        margin: 10px 0 0 0;
        padding: 0 2.5% 0 0;
        border: none;
        letter-spacing: normal;
        text-align: right;
        border-right: 1px solid #FFF;
    }

    .bloco-banner__texto--veiculo:after{
        display: none;
    }

    .bloco__title-banner .price{
        width: 45%;
        margin: 10px 0 0 2.5%;
        padding: 0;
        font-size: 16px;
        border: none;
    }

  
    .bloco__title-banner{
        padding: 0;
    }
    .bloco-banner__title, .bloco-banner__title--chevrolet, .bloco-banner__title-single,
    .bloco-banner__title--chevrolet, .bloco-banner__title--sobre,.bloco-banner__title--facil{
        position: relative;
        display: block;
        font-size:20px;
        letter-spacing: 2px;
        float: left;
        text-align: left;
        padding: 0;
        margin: 5px 0 0 0;
        top: inherit;
        left: inherit;
        line-height: 120%;
    }
    .bloco-banner__titletopo{
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

    .bloco-banner__title::after, .bloco-banner__title--chevrolet::after, .bloco-banner__title-single:after{
        display: none;
    }

.bloco-banner .description{
    color: #06a8c8;
    font-size: 13px;
    font-weight: 300;
}

    
    #breadcrumbs{
        display: none;
    }


    .area-info img{
        max-width: 100%;
    }
    .area-info__planos, .area-info__prazos{
        width: 100%;
    }
    .area-info__prazos-item{
        margin-left: 0;
    }
    .area-info__info--interna{
        width: 100%;
        margin-left: 0;
    }
    .grid-carousel .owl-item{
        width: 100%!important;
    }
    .col-xs-mobile-separador{
        width: 8.3333%;
        padding: 0;
        position: relative;
        float: left;
    }
    .col-xs-mobile{
        width: 45%;
        padding: 0;
        position: relative;
        float: left;
    }
    .mobile-separador-none{
        display: none!important;
    }
    .mobile-separador-border{
        border: none;
        padding:0;
        width: 25%;
    }

    .page-veiculos .bloco__filter .container{
       margin-top: 22px;
    }

    .page-veiculos .filtro{
         margin: 0 0 15px 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid #DDD;
    }
    .page-veiculos .filtro__ativo{
        border-color: #06A8C8;
    }


    .filtro,.filtro__ativo{
    }
    .page-veiculos .todos a{
        padding: 31px 0 0 0;
    }
    .page-veiculos .carros a{
        padding: 31px 0 0 0;
    }
    .page-veiculos .suvs a{
        padding: 31px 0 0 0;
    }
    .page-veiculos .picapes a{
        padding: 31px 0 0 0;
    }

    .page-veiculos .filtro a:before{
        left: 50%;
        transform: translateX(-50%);
    }

    .page-veiculos .filtro a .filtro__title {
        font-size: 13px;
    }

    .bloco-banner{
        height: auto;
        padding-bottom: 22px;
        min-height: auto;
    }

    .filtro__ativo:before{
        display: none;
    }
    #breadcrumbs{
        top: -45px;
        left: 26px;
    }
    .simulacao .form_simulacao .wpcf7-response-output, .wpcf7-validation-errors{
        display: none!important;
    }

    
    /*.bloco-banner{
        height: auto;
    }
*/    
    .bloco-banner__toptitle{
        bottom: 80px;
        left: 27px;
    }

   /* .bloco-banner__title--chevrolet,.bloco-banner__title--sobre{
        bottom: 34px;
        font-size: 20px;
        text-align: left;
    }*/
    .bloco-banner__title--sobre{
        bottom: 64px;
    }
    .tarja-blue__titles-left, .tarja-blue__titles-right{
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        text-align: center;
    }
    .tarja-blue__cpf, .tarja-blue__senha{
        margin-bottom: 10px;
    }
    .tarja-blue__cpf, .tarja-blue__senha,.tarja-blue__btn{
        width: 100%;
    }
    .bloco-opcoes__opcao-vantagem, .bloco-opcoes__opcao-sobre{
        display: inherit;
    }
    .bloco-opcoes__opcao-vantagem img{
        margin: 10px auto!important;
    }
    .bloco-opcoes__opcao-vantagem img, .bloco-opcoes__opcao-sobre img{
        display: block;
        margin: 6px auto;
    }
    .bloco-opcoes__title{
        margin-left: 0;
        font-size: 12px;
        text-align: center
    }
    .bloco-header, .bloco-header--simulacao, .bloco-header--faq{
        display: inline-block;
        padding-top: 30px;
    }
    .bloco-header__toptitle{
        font-size: 16px;
    }
   .bloco-header__title, .bloco-header__title--simulacao{
        font-size: 23px;
   }
   .bloco-header__title:after{
        margin: 15px auto;
   }
   .bloco-header__subtitle{
        font-size: 14px;
   }
   .bloco-header__subtitle:after{
        margin: 15px auto;
   }
   .bloco-cards-info{
        width: 100%;
        display: inline-block;
        padding: 30px 0;
   }
   .bloco-cards-info .bloco-cards-info__item{
        padding: 0;
   }
    .bloco__simulacao--single{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        float: none;
        margin-top: 0;
   }
   .bloco__post-card{
        flex-direction: column;
   }
   .bloco__post-card-info{
        width: 100%;
        padding: 0;
        margin: 30px 0;
   }
   .bloco__post img{
        width: auto;
        max-width: 100%;
        height: auto;
   }
   .bloco__simulacao, .bloco__simulacao--single{
        padding: 0 0 10px 0;
   }
   .bloco-header__title, .bloco-header__title--simulacao span{
        display: block;
        font-size: 22px;
   }
   .tarja-blue__pesquisa a{
        top: 90px;
        right: 0;
   }
   .tarja-blue__pesquisa input{
        width: 100%;
        border: 0;
        padding: 20px 30px;
   }
   .tarja-blue{
        min-height: 208px;
   }
   .cards{
        display: inline-block;
   }
    .cards__item, .cards__item--chevrolet{
        width: 100%;
        margin:10px 0;
        padding:15px;
        height: auto;
        min-height: auto;
    }
    .cards__item-title{
        margin: 8px 0;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        padding-left: 5px;
    }
    .bloco-cards-info__conteudo{
        margin:0;
        font-size: 12px;

    }
    

    .depoimentos-list .owl-nav,
    .nossos-carros .title-carousel h6,
    .ultimasblog .title__bloco,
    .ultimasblog .title__bloco h6,
    .ultimasblog .ultimasblog__blocoplanos .btn__nossoblog,
    .ultimasblog .ultimasblog__blocoplanos li div p {
        display: none
    }
    .vantagens__bottom .mobile-a {
        top: 370px!important
    }
    .vantagens__bottom .mobile-b {
        top: -370px!important
    }
    .footer .layer_gray .a,
    .footer .layer_gray .b {
        height: auto;
        margin: 0
    }
    .footer .layer_blue {
        padding: 30px 0
    }
    .footer .layer_blue a {
        font-size: 0
    }
    .footer .layer_blue img {
        margin-bottom: 20px
    }
    .footer .layer_blue .small-logo {
        margin: 20px 0 0
    }
    .footer .layer_menu {
        margin: 30px 0
    }
    .list-products .item {
        padding-top: 95px
    }
    .list-products .item h4 {
        margin: 10px 0
    }
    .list-products .owl-item .item .info figure {
        margin: 45px 0 0
    }
    .list-products .owl-item .item .info figure figcaption {
        margin: 20px 0
    }
    .list-products .owl-item:nth-child(even) .item:after,
    .list-products .owl-item:nth-child(odd) .item:after {
        top: 118px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo h2,
    .vantagens__top .vantagens__a .vantagens__conteudo h2 {
        margin: 35px 0;
        font-size: 22px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo span,
    .vantagens__top .vantagens__a .vantagens__conteudo span {
        font-size: 14px
    }
    .vantagens__bottom .vantagens__a,
    .vantagens__bottom .vantagens__b,
    .vantagens__top .vantagens__a,
    .vantagens__top .vantagens__b {
        min-height: 370px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo p,
    .vantagens__top .vantagens__a .vantagens__conteudo p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo button,
    .vantagens__top .vantagens__a .vantagens__conteudo button {
        width: 177px;
        height: 70px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li div h5,
    .vantagens__top .vantagens__b .vantagens__blocos li div h5 {
        font-size: 14px
    }
    .ultimasblog .ultimasblog__blocoplanos {
        padding: 25px 0
    }
    .ultimasblog .ultimasblog__blocoplanos li,
    .ultimasblog .ultimasblog__blocoplanos li div h5 {
        margin: 0
    }
    .ultimasblog .ultimasblog__blocoplanos li div {
        border: 0!important;
        padding: 0 20px
    }
    .ultimasblog .ultimasblog__blocoplanos li div:hover {
        box-shadow: 0 0 0 0 #d0d0d0
    }
    .depoimentos-list .owl-item:nth-child(even) .item,
    .depoimentos-list .owl-item:nth-child(odd) .item {
        padding-top: 82px
    }
    .depoimentos-list .item img {
        margin: 20px 0
    }
    .depoimentos-list .owl-item .item h6 {
        margin: 30px 0 58px
    }
    .depoimentos-list .owl-item:nth-child(even) .item .info,
    .depoimentos-list .owl-item:nth-child(odd) .item .info {
        padding-bottom: 65px
    }
    .depoimentos-list .owl-dots {
        margin-top: -45px
    }
    .depoimentos-list .owl-item .item .info figure figcaption {
        margin: 20px 0;
        position: relative
    }
    .depoimentos-list .owl-item .item .info figure figcaption .stars {
        left: 58px
    }
}

@media screen and (max-width:745px) {
   
    
    .nossos-planos .bloco-planos li div img {
        /* margin: 2px 15px */
    }
    .nossos-planos .bloco-planos li div h5 {
        margin: 13px 0 6px
    }
}

@media screen and (max-width:640px) {


#tarja-header .brands{
    display: none;
}

.leftMain .container-single table .date{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    border: none;
}

.leftMain .container-single table .titlePost{
    width: 100%;
    margin-top: 48px;
    position: relative;
    display: block;
    border-top: 1px solid #DDD;
}

.leftMain .container-single table .comments{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50%;
}
    
    .bloco__filter .colls.colls-2.separator .coll:first-child{
        padding-right: 5%;
        text-align: right;
    }
    
    .bloco__filter .colls.colls-2.separator .coll a{
        text-align: inherit;
    }

    .bloco__filter .colls.colls-2.separator .coll:first-child a:before{
        right: 0;
        left: inherit !important;
        transform: none;
    }
    .bloco__filter .colls.colls-2.separator .coll:last-child{
         padding-left: 5%;
         text-align: left;
    }

    .bloco__filter .filtro.vantagem a{
        padding: 45px 0 0 0px;
    }

    .bloco__filter .filtro.sobre a{
        padding: 45px 0 0 0px;
    }
    
    .bloco__filter .filtro.contato a{
        padding: 35px 0 0 0px;
    }

    .bloco__filter .filtro.duvida a{
        padding: 35px 0 0 0px;
    }

    

    .bloco__filter .filtro a:before{
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }
    .bloco__filter .filtro.duvida a:before{
        left: 5%;
    }

    .bloco__filter .colls.colls-2.separator .coll{
        margin: 15px 0;
    }

     .filtro{
        font-size: 13px;
        text-align: inherit;
    }

    .filtro .filtro__title{
        text-align: inherit !important;
    }


    .icon-pesquisa-mobile {
        right: 14px
    }
    .footer .layer_blue .copyright,
    .footer .layer_gray {
        text-align: center
    }
    .glyphicon-plus {
        margin: 0 auto 10px
    }
    .navbar .servicos{
        display: none;
    }



    


    .line_blue {
        height: auto;
        padding: 11px 0 0
    }
    .line_blue .box_left,
    .line_blue .box_right {
        margin: 15px 0;
        max-width: 40.99999%;
        padding: 0 5px
    }
    .line_blue .box_center {
        max-width: 56px;
        font-size: 18px;
        margin: 23px auto
    }
    .line_blue .box_left i,
    .line_blue .box_right i {
        float: left
    }
    .line_blue .box_left h5,
    .line_blue .box_right h5 {
        font-size: 16px;
        display: inline-block;
        margin: 0;
        text-align: left;
        width: 90px;
        vertical-align: top
    }
}



@media screen and (min-width:480px) and (max-width:959px){


    header .brands {
        left: inherit !important;
        position: relative;
        display: block;
        float: right;
        top: 50% !important;
        transform: translateY(-50%) !important;
    }
    
    .bloco-banner{
        min-height: auto;
    }
    .bloco__title-banner .currentTitle.side {
        width: 40%;
    }

    .bloco-banner__texto, 
    .bloco-banner__texto-right{
        width: 60%;
    }

    .leftMain .bloco__title-banner .currentTitle.side {
        width: 45%;
        min-height: 130px;
    }

    .bloco-banner__veiculo {
        margin: 0 0 0 2.5%;
        width: 52.5%;
        min-height: 130px;
    }

    .bloco-banner__texto--veiculo {
        width: 50%;
        text-align: right;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .bloco__title-banner .price {
        width: calc(50% - 25px);
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .page-single-veiculos{
        position: relative;
    }





}

@media screen and (max-width:479px) {
    .linkMore{
        display: none;
    }

}

@media screen and (max-width:413px) {
    .navbar .tarja .text_center {
        left: 16%
    }
}

@media screen and (max-width:369px) {
    .vantagens__bottom .vantagens__a .vantagens__blocos li div h5,
    .vantagens__top .vantagens__b .vantagens__blocos li div h5 {
        font-size: 12px
    }
}

/*Aditivos DIOGO*/

@media screen and (min-width:768px){
    .line_blue .chamada{
    position: relative;
    padding: 15px;
    }
}