@media screen and (max-width:1203px) {
    .nossos-planos .bloco-planos li {
        width: 325px;
        margin: 0 6px
    }
}

@media screen and (max-width:1125px) {
    .nossos-planos .bloco-planos li {
        width: 295px;
        margin: 0 5px
    }
    .nossos-planos .bloco-planos li div {
        padding: 65px 32px
    }
}

@media screen and (max-width:1086px) {
    .navbar .tarja .text_center {
        left: 14%
    }
    .navbar .menu ul li {
        padding: 35px 19px
    }
    .scrollOn .navbar .menu ul li {
        padding: 25px 19px
    }
}

@media screen and (max-width:1029px) {
    .navbar .tarja .text_center {
        left: 10%
    }
    .navbar .menu ul li {
        padding: 35px 15px
    }
    .scrollOn .navbar .menu ul li {
        padding: 25px 15px
    }
    .nossos-planos .bloco-planos li {
        width: 290px;
        margin: 0 1px
    }
    .nossos-planos .bloco-planos li div h5 {
        font-size: 13px
    }
}

@media screen and (max-width:1108px) {
    .ultimasblog .ultimasblog__blocoplanos li div {
        padding: 30px
    }
}

@media screen and (max-width:1024px) {
    .newsletter h4 {
        width: 155px
    }
    .newsletter .redes {
        width: 157px
    }
}

@media screen and (max-width:1023px) {
    .simulacao .title {
        margin: 25px 0
    }
    .simulacao .title:after {
        top: 58px
    }
    .ultimasblog .ultimasblog__blocoplanos li div {
        padding: 30px 20px
    }
}

@media screen and (max-width:992px) {
    .navbar .tarja .text_center {
        left: 9%
    }
    .navbar .menu ul li {
        padding: 35px 12px
    }
    .scrollOn .navbar .menu ul li {
        padding: 25px 12px
    }
}

@media screen and (max-width:991px) {
    .atendimento .form {
        width: 100%;
        padding-bottom: 0!important
    }
    .atendimento .form .btn-enviar {
        margin: 15px 0 0;
        height: 65px
    }
    .footer .central,
    .footer .end,
    .footer .maps {
        width: 100%;
        max-width: 100%
    }
    .nossos-planos .bloco-planos li {
        width: 261px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li,
    .vantagens__top .vantagens__b .vantagens__blocos li {
        width: 42%
    }
}

@media screen and (max-width:963px) {
    .nossos-planos .bloco-planos .btn__nossoplano {
        width: 70%;
        margin: 0 29px!important;
        padding: 0;
        font-size: 12px
    }
    .nossos-planos .bloco-planos li {
        width: 29%;
        margin: 0 5px
    }
    .nossos-planos .bloco-planos li .info {
        margin: 10px 0;
        display: block;
        text-align: center
    }
    .nossos-planos .bloco-planos li div h5:after,
    .nossos-planos .bloco-planos li div h5:before,
    .nossos-planos .bloco-planos li div p {
        display: none
    }
    .nossos-planos .bloco-planos li div {
        padding: 18px 0;
        text-align: left
    }
    .nossos-planos .bloco-planos li div img {
        float: inherit!important;
        margin: 2px 5px;
        display: inline-block
    }
    .nossos-planos .bloco-planos li div h5 {
        width: 100%!important;
        display: inline-block
    }
}

@media screen and (max-width:940px) {
    #owl-consorcio .item {
        max-width: 284px
    }
}

@media screen and (max-width:936px) {
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        width: 180px
    }
    .metricas .title-clientes-ativos {
        margin-left: 0!important;
        font-size: 14px
    }
}

@media screen and (max-width:903px) {
    .metricas .metricas__clientes {
        vertical-align: top;
        width: 31%
    }
}

@media screen and (max-width:902px) {
    .nossos-planos .bloco-planos li {
        width: 24%;
        margin: 0 4%
    }
    .nossos-planos .bloco-planos li div h5 {
        width: 100px
    }
}

@media screen and (max-width:923px) {
    .navbar .busca,
    .navbar .menu {
        position: absolute;
        max-width: 100%
    }
    .navbar .menu,
    .newsletter .mensage {
        text-align: center
    }
    .consorcio p,
    .footer .end,
    .navbar .busca,
    .navbar .menu {
        max-width: 100%
    }
    body {
        padding-top: 111px
    }
    .container {
        padding: 0 22px
    }
    .navbar .tarja {
        height: 68px
    }
    .navbar .servico_cliente {
        top: 18px
    }
    .navbar .navbar-brand {
        padding: 12px
    }
    .navbar {
        height: 110px
    }
    .navbar .nav_mobile {
        display: block
    }
    .navbar .nav_mobile .navbar-nav {
        float: inherit
    }
    .navbar .form_pesquisa_mobile {
        top: 3px
    }
    .btn-close {
        left: 152px;
        top: 14px
    }
    .scrollOn .navbar .form_pesquisa_mobile {
        top: 3px
    }
    .navbar .busca {
        right: 0;
        top: 171px;
        background-color: #fff
    }
    .navbar .pesquisa {
        top: 17px;
        right: 83px;
        font-size: 30px
    }
    .scrollOn .navbar .pesquisa {
        top: 16px
    }
    .navbar .tarja {
        padding: 29px 21px 11px!important
    }
    .navbar .container {
        height: 59px;
        top: 68px
    }
    .navbar .tarja span {
        margin-left: 0
    }
    .navbar .form_pesquisa_mobile input {
        color: #000;
        background-color: #fff;
        padding-right: 30px
    }
    .navbar .menu {
        top: 60px;
        color: #999;
        margin: 0;
        padding: 0;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .05);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s
    }
    .scrollOn .navbar .menu {
        top: 70px
    }
    .navbar .menu li {
        width: 100%;
        background-color: #fff;
        padding: 20px 0;
        line-height: 10px;
        border-top: 1px solid #aaa
    }
    #toggle,
    #toggle.on span {
        background-color: transparent
    }
    .navbar .menu li a {
        font-size: 18px;
        border: transparent;
        vertical-align: middle
    }
    #toggle {
        float: right;
        display: block!important;
        width: 53px;
        height: 17px;
        margin: 6px 0;
        padding: 24px 13px;
        border-radius: 7px;
        position: relative;
        z-index: 999
    }
    .scrollOn #toggle {
        margin: 11px 0
    }
    #toggle.on {
        background-color: #003793
    }
    #toggle.on span:before {
        transform: rotate(45deg) translate(9px, 9px);
        background-color: #fff
    }
    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
        background-color: #fff
    }
    #toggle.on+.menu {
        opacity: 1;
        visibility: visible;
        background: #fff;
        width: 100%;
        height: auto;
        z-index: 1;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3)
    }
    .area_video_banner .content {
        top: 45%
    }
    .area_video_banner .content .banner_subtitle {
        display: none
    }
    .demo a {
        display: none!important
    }
    .ultimasblog .ultimasblog__blocoplanos li {
        width: 100%;
        margin: 10px 0
    }
    .collapse {
        display: block
    }
    .navbar #menu-menu {
        width: 100%
    }
    .nossos-carros .title-carousel span {
        font-size: 13px
    }
    .atendimento h2:before,
    .consorcio h2:before,
    .nossos-carros .title-carousel h2:after,
    .nossos-planos h2:before {
        top: 40px
    }
    .atendimento h2,
    .consorcio h2,
    .nossos-carros .title-carousel h2,
    .nossos-planos h2 {
        margin-top: 30px
    }
    .nossos-carros .title-carousel h6 {
        margin: 10px 0
    }
    .list-products .item {
        padding-top: 138px
    }
    .list-products .owl-item:nth-child(even) .item:after,
    .list-products .owl-item:nth-child(odd) .item:after {
        top: 201px
    }
    .list-products .owl-item:nth-child(even) .item .info,
    .list-products .owl-item:nth-child(odd) .item .info {
        padding-bottom: 100px
    }
    .list-products .owl-dots {
        margin-top: -65px
    }
    .list-products .owl-nav {
        display: none
    }
    .nossos-planos .bloco-planos {
        padding: 30px 0
    }
    .consorcio h2 {
        font-size: 22px
    }
    .consorcio span {
        font-size: 18px
    }
    .consorcio p {
        margin-top: 10px!important;
        font-size: 14px;
        width: 310px;
        padding: 0 15px
    }
    #owl-consorcio {
        margin: 50px 0 0
    }
    #owl-consorcio .item .about h4 {
        font-size: 14px;
        display: inline-block;
        float: right
    }
    #owl-consorcio .item {
        width: 100%
    }
    #owl-consorcio .owl-item img {
        width: auto;
        display: inline-block
    }
    .atendimento .informacoes {
        margin: 40px auto 0
    }
    .atendimento .form button {
        height: 54px;
        margin-top: 6px;
        padding: 11px
    }
    .atendimento .form {
        margin: 20px 0;
        padding: 22px 0
    }
    .atendimento .informacoes span {
        font-size: 16px;
        vertical-align: text-bottom
    }
    .atendimento .form button i {
        margin-bottom: 4px
    }
    .newsletter {
        background-color: #003793!important;
        margin-top: -1px;
        margin-bottom: 0;
        padding: 25px 0
    }
    .atendimento .form textarea {
        height: 115px
    }
    .newsletter h4 {
        width: 139px
    }
    .newsletter .redes {
        width: 100%;
        text-align: center
    }
    .newsletter span {
        margin-bottom: 10px
    }
    .newsletter .input-radius {
        margin-bottom: 15px
    }
    .footer {
        padding: 0
    }
    .footer .blog h4,
    .footer .central h4,
    .footer .comprar h4,
    .footer .institucional h4,
    .footer .servicos h4 {
        border-bottom: 1px solid #aaa;
        padding-bottom: 10px
    }
    .footer .maps {
        width: 100%
    }
    .footer .end i {
        font-size: 26px
    }
    .footer .layer_gray .a,
    .footer .layer_gray .b {
        padding: 30px 0;
        height: 300px
    }
    .footer .layer_gray .a p,
    .footer .layer_gray .b p {
        margin: 10px 0
    }
    .footer .layer_blue .copyright {
        margin: 0
    }
    .footer .layer_blue img {
        float: initial!important
    }
}

@media screen and (max-width:908px) {
    .busca-top {
        top: 51px
    }
    .scrollOn .busca-top {
        top: 65px
    }
    .scrollOn .btn-close {
        top: 13px
    }
    .btn-close {
        left: 9%
    }
}

@media screen and (max-width:892px) {
    #owl-consorcio .item .about .icon-pass1,
    #owl-consorcio .item .about .icon-pass2,
    #owl-consorcio .item .about .icon-pass3,
    #owl-consorcio .item .about .icon-proximo,
    .navbar .servico_cliente {
        display: none
    }
    #owl-consorcio .owl-nav .owl-prev,
    .owl-nav .owl-next {
        height: 50px;
        position: relative
    }
    #owl-consorcio .owl-nav .owl-prev {
        left: 10px;
        float: left;
        background: url(../images/prev.png) center no-repeat #fff!important
    }
    #owl-consorcio .owl-nav .owl-next {
        right: 10px;
        float: right;
        background: url(../images/next.png) center no-repeat #fff!important
    }
    #owl-consorcio .owl-nav {
        position: relative;
        width: 100%;
        top: -94px!important
    }
    #owl-consorcio .owl-dots {
        margin-top: 30px!important
    }
    #owl-consorcio .owl-nav .owl-next,
    #owl-consorcio .owl-nav .owl-prev {
        font-size: 0!important;
        height: 110px;
        width: 45px;
        margin: 0!important;
        padding: 0!important
    }
}

@media screen and (max-width:889px) {
    .vantagens__bottom .vantagens__a .vantagens__blocos li div,
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        width: 180px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos {
        margin: 51px 5px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li,
    .vantagens__top .vantagens__b .vantagens__blocos li {
        margin: 9px;
        vertical-align: top
    }
}

@media screen and (max-width:872px) {
    .newsletter .icon-facebook,
    .newsletter .icon-instagram-1,
    .newsletter .icon-youtube-play {
        font-size: 24px
    }
    .newsletter h4 {
        width: 135px
    }
}

@media screen and (max-width:868px) {
    .simulacao .form_simulacao .medium {
        width: 100%!important
    }
}

@media screen and (max-width:845px) {
    .navbar .tarja .redes {
        width: 20%
    }
}

@media screen and (max-width:824px) {
    .list-products .owl-carousel .owl-item:nth-child(even) .item:after,
    .list-products .owl-carousel .owl-item:nth-child(odd) .item:after {
        top: 191px
    }
    .list-products .owl-carousel .item {
        padding-top: 128px
    }
    .list-products {
        padding: 0
    }
    .nossos-carros .title-carousel h2,
    .nossos-planos h2 {
        margin-top: 30px;
        font-size: 22px
    }
    .nossos-carros .title-carousel span,
    .nossos-planos h2 span {
        margin-top: 30px;
        font-size: 13px
    }
    .nossos-carros .title-carousel h6 {
        font-size: 10px
    }
    .nossos-planos .bloco-planos {
        padding: 25px 0
    }
    .nossos-planos .bloco-planos li {
        margin-bottom: 20px
    }
    .nossos-planos .bloco-planos li div h5 {
        display: block;
        width: 100%;
        margin: 27px 0 6px
    }
    #owl-consorcio .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
        display: block!important
    }
    .vantagens__bottom .vantagens__b:before,
    .vantagens__top .vantagens__a:before {
        display: none
    }
}

@media screen and (max-width:807px) {
    .container-metricas {
        padding: 0
    }
    .metricas .clientes-ativos:after {
        display: none
    }
    .metricas .metricas__clientes span {
        font-size: 14px
    }
    .metricas .title-clientes-ativos {
        text-align: center;
        margin: 32px auto;
        display: block!important
    }
    .metricas .metricas__clientes {
        margin: 0;
        padding: 0;
        min-height: 176px
    }
    .metricas .clientes-ativos {
        border: 0;
        height: 112px;
        font-size: 14px;
        position: relative;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        width: 100px
    }
    .metricas .clientes-ativos:before {
        content: "";
        border-top: 2px solid #fff;
        height: 10px;
        width: 65px;
        display: block;
        position: absolute;
        right: 17px;
        bottom: -7px
    }
}

@media screen and (max-width:783px) {
    .atendimento {
        padding-bottom: 30px
    }
    .navbar .tarja .text_center {
        left: 38%
    }
    .footer .layer_gray .b .logos {
        margin-top: 5px
    }
    .footer .blog a,
    .footer .comprar a,
    .footer .institucional a,
    .footer .servicos a {
        font-weight: 400;
        font-family: owd-regular, sans-serif
    }
    .navbar .tarja .contato,
    .navbar .tarja .redes,
    .navbar .tarja .servico_cliente {
        display: none
    }
    .newsletter .icon-facebook,
    .newsletter .icon-instagram-1,
    .newsletter .icon-youtube-play {
        margin: 0 15px;
        font-size: 23px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li div,
    .vantagens__top .vantagens__b .vantagens__blocos li div {
        display: block;
        margin: 0 auto
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos,
    .vantagens__top .vantagens__b .vantagens__blocos {
        margin: 51px 0;
        text-align: center
    }
}

@media screen and (max-width:768px) {
    .area-info img{
        max-width: 100%;
    }
    .area-info__planos, .area-info__prazos{
        width: 100%;
    }
    .area-info__prazos-item{
        margin-left: 0;
    }
    .area-info__info--interna{
        width: 100%;
        margin-left: 0;
    }
    #veiculos .owl-item{
        width: 100%!important;
    }
    .col-xs-mobile-separador{
        width: 8.3333%;
        padding: 0;
        position: relative;
        float: left;
    }
    .col-xs-mobile{
        width: 45%;
        padding: 0;
        position: relative;
        float: left;
    }
    .mobile-separador-none{
        display: none!important;
    }
    .mobile-separador-border{
        border: 1px solid #aaa;
        border-radius: 6px;
        margin-bottom: 1px;
        padding: 15px 0;
        width: 50%;
    }
    .filtro,.filtro__ativo{
        padding: 0;
    }
    .page-veiculos .todos a{
        padding-left: 15px;
    }
    .page-veiculos .carros a{
        padding-left: 31px;
    }
    .page-veiculos .suvs a{
        padding-left: 32px;
    }
    .page-veiculos .picapes a{
        padding-left: 38px;
    }
    .bloco-banner__titletopo{
        left: 22px;
        top: -100px;
    }
    .bloco-banner__title, .bloco-banner__title--chevrolet, .bloco-banner__title-single,
    .bloco-banner__title--chevrolet, .bloco-banner__title--sobre,.bloco-banner__title--facil{
        bottom: 50px!important;
        left: 27px;
        font-size:16px;
        margin: 7px 0;
    }
    .filtro__ativo:before{
        display: none;
    }
    #breadcrumbs{
        top: -45px;
        left: 26px;
    }
    .simulacao .form_simulacao .wpcf7-response-output, .wpcf7-validation-errors{
        display: none!important;
    }

    
    .bloco-banner{
        height: auto;
    }
    .bloco-banner img{
        min-height: 140px;
    }
    .bloco-banner__toptitle{
        bottom: 80px;
        left: 27px;
    }

   /* .bloco-banner__title--chevrolet,.bloco-banner__title--sobre{
        bottom: 34px;
        font-size: 20px;
        text-align: left;
    }*/
    .bloco-banner__title--sobre{
        bottom: 64px;
    }
    .tarja-blue__titles-left, .tarja-blue__titles-right{
        display: block;
        margin: 0 auto 20px;
        width: 100%;
        text-align: center;
    }
    .tarja-blue__cpf, .tarja-blue__senha{
        margin-bottom: 10px;
    }
    .tarja-blue__cpf, .tarja-blue__senha,.tarja-blue__btn{
        width: 100%;
    }
    .bloco-opcoes__opcao-vantagem, .bloco-opcoes__opcao-sobre{
        display: inherit;
    }
    .bloco-opcoes__opcao-vantagem img{
        margin: 10px auto!important;
    }
    .bloco-opcoes__opcao-vantagem img, .bloco-opcoes__opcao-sobre img{
        display: block;
        margin: 6px auto;
    }
    .bloco-opcoes__title{
        margin-left: 0;
        font-size: 12px;
        text-align: center
    }
    .bloco-header, .bloco-header--simulacao, .bloco-header--faq{
        display: inline-block;
        padding: 30px 0;
    }
    .bloco-header__toptitle{
        font-size: 16px;
    }
   .bloco-header__title, .bloco-header__title--simulacao{
        font-size: 23px;
   }
   .bloco-header__title:after{
        margin: 15px auto;
   }
   .bloco-header__subtitle{
        font-size: 14px;
   }
   .bloco-header__subtitle:after{
        margin: 15px auto;
   }
   .bloco-cards-info{
        width: 100%;
        display: inline-block;
        padding: 30px 0;
   }
   .bloco-cards-info .bloco-cards-info__item{
        padding: 0;
   }
   .bloco__simulacao, .bloco__simulacao--single{
        padding: 0 0px 45px;;
   }
   .bloco-header__title, .bloco-header__title--simulacao span{
        display: block;
        font-size: 22px;
   }
   .tarja-blue__pesquisa a{
        top: 90px;
        right: 0;
   }
   .tarja-blue__pesquisa input{
        width: 100%;
        border: 0;
        padding: 20px 30px;
   }
   .tarja-blue{
        min-height: 208px;
   }
   .cards{
        display: inline-block;
   }
    .cards__item, .cards__item--chevrolet{
        width: 100%;
        margin:0;
        padding:0;
    }
    .cards__item-title{
        margin: 8px 0;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .bloco-cards-info__conteudo{
        margin:0;
        margin-bottom: 30px;
        font-size: 12px;

    }
    

    #owl-opinioes .owl-nav,
    .nossos-carros .title-carousel h6,
    .ultimasblog .title__bloco,
    .ultimasblog .title__bloco h6,
    .ultimasblog .ultimasblog__blocoplanos .btn__nossoblog,
    .ultimasblog .ultimasblog__blocoplanos li div p {
        display: none
    }
    .vantagens__bottom .mobile-a {
        top: 370px!important
    }
    .vantagens__bottom .mobile-b {
        top: -370px!important
    }
    .footer .layer_gray .a,
    .footer .layer_gray .b {
        height: auto;
        margin: 0
    }
    .footer .layer_blue {
        padding: 30px 0
    }
    .footer .layer_blue a {
        font-size: 0
    }
    .footer .layer_blue img {
        margin-bottom: 20px
    }
    .footer .layer_blue .small-logo {
        margin: 20px 0 0
    }
    .footer .layer_menu {
        margin: 30px 0
    }
    .list-products .item {
        padding-top: 95px
    }
    .list-products .item h4 {
        margin: 10px 0
    }
    .list-products .owl-item .item .info figure {
        margin: 45px 0 0
    }
    .list-products .owl-item .item .info figure figcaption {
        margin: 20px 0
    }
    .list-products .owl-item:nth-child(even) .item:after,
    .list-products .owl-item:nth-child(odd) .item:after {
        top: 118px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo h2,
    .vantagens__top .vantagens__a .vantagens__conteudo h2 {
        margin: 35px 0;
        font-size: 22px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo span,
    .vantagens__top .vantagens__a .vantagens__conteudo span {
        font-size: 14px
    }
    .vantagens__bottom .vantagens__a,
    .vantagens__bottom .vantagens__b,
    .vantagens__top .vantagens__a,
    .vantagens__top .vantagens__b {
        min-height: 370px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo p,
    .vantagens__top .vantagens__a .vantagens__conteudo p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px
    }
    .vantagens__bottom .vantagens__b .vantagens__conteudo button,
    .vantagens__top .vantagens__a .vantagens__conteudo button {
        width: 177px;
        height: 70px
    }
    .vantagens__bottom .vantagens__a .vantagens__blocos li div h5,
    .vantagens__top .vantagens__b .vantagens__blocos li div h5 {
        font-size: 14px
    }
    .ultimasblog .ultimasblog__blocoplanos {
        padding: 25px 0
    }
    .ultimasblog .ultimasblog__blocoplanos li,
    .ultimasblog .ultimasblog__blocoplanos li div h5 {
        margin: 0
    }
    .ultimasblog .ultimasblog__blocoplanos li div {
        border: 0!important;
        padding: 0 20px
    }
    .ultimasblog .ultimasblog__blocoplanos li div:hover {
        box-shadow: 0 0 0 0 #d0d0d0
    }
    #owl-opinioes .owl-item:nth-child(even) .item,
    #owl-opinioes .owl-item:nth-child(odd) .item {
        padding-top: 82px
    }
    #owl-opinioes .item img {
        margin: 20px 0
    }
    #owl-opinioes .owl-item .item h6 {
        margin: 30px 0 58px
    }
    #owl-opinioes .owl-item:nth-child(even) .item .info,
    #owl-opinioes .owl-item:nth-child(odd) .item .info {
        padding-bottom: 65px
    }
    #owl-opinioes .owl-dots {
        margin-top: -45px
    }
    #owl-opinioes .owl-item .item .info figure figcaption {
        margin: 20px 0;
        position: relative
    }
    #owl-opinioes .owl-item .item .info figure figcaption .stars {
        left: 58px
    }
}

@media screen and (max-width:745px) {
    .nossos-planos .bloco-planos li div {
        text-align: center
    }
    .nossos-planos .bloco-planos li {
        margin-bottom: 22px!important;
        width: 100%;
        margin: 0 0 10px
    }
    .nossos-planos .bloco-planos li div img {
        margin: 2px 15px
    }
    .nossos-planos .bloco-planos li div h5 {
        margin: 13px 0 6px
    }
}

@media screen and (max-width:640px) {
    .icon-pesquisa-mobile {
        right: 14px
    }
    .footer .layer_blue .copyright,
    .footer .layer_gray {
        text-align: center
    }
    .glyphicon-plus {
        margin: 0 auto 10px
    }
    .busca-top {
        margin: 10px 5%;
        width: 90%
    }
    .navbar .container {
        padding: 0 5px
    }
    .navbar .pesquisa {
        top: 19px;
        right: 62px
    }
    .form_pesquisa_mobile {
        left: 0
    }
    .scrollOn .navbar .pesquisa {
        top: 23px
    }
    .line_blue {
        height: auto;
        padding: 11px 0 0
    }
    .line_blue .box_left,
    .line_blue .box_right {
        margin: 15px 0;
        max-width: 40.99999%;
        padding: 0 5px
    }
    .line_blue .box_center {
        max-width: 56px;
        font-size: 18px;
        margin: 23px auto
    }
    .line_blue .box_left i,
    .line_blue .box_right i {
        float: left
    }
    .line_blue .box_left h5,
    .line_blue .box_right h5 {
        font-size: 16px;
        display: inline-block;
        margin: 0;
        text-align: left;
        width: 90px;
        vertical-align: top
    }
}

@media screen and (max-width:413px) {
    .navbar .tarja .text_center {
        left: 16%
    }
}

@media screen and (max-width:369px) {
    .vantagens__bottom .vantagens__a .vantagens__blocos li div h5,
    .vantagens__top .vantagens__b .vantagens__blocos li div h5 {
        font-size: 12px
    }
}

/*Aditivos DIOGO*/

@media screen and (min-width:768px){
    .line_blue .chamada{
    position: relative;
    padding: 15px;
    }
}